<% form_for :picture, :url => upload_picture_posts_path, 
  :html => { :multipart => true, :target => 'picture_upload_frame', :id => 'picture_upload_form' } do |f| %>
  <%= f.error_messages %>

  <div>
    <%= f.file_field :image %>
    <%= f.submit "Upload" %>
  </div>
<% end %>

<iframe id="picture_upload_frame" name="picture_upload_frame" style="display: none"></iframe>  
