<% title "Tags" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for tag in @tags %>
    <tr>
      <td><%=h tag.name %></td>
      <td><%= link_to "Show", tag %></td>
    </tr>
  <% end %>
</table>

