<% title h(@post.title) %>

<p>
  <%= strip_cut(@post.body) %>
</p>

<% unless @post.tags.count.zero? %>
  <div>
    <strong>Tags:</strong>
    <% for tag in @post.tags %>
      <span><%= link_to tag.name, tag_path(:name => tag.name) %></span>
    <% end %>
  </div>
<% end %>

<p>
  <%= link_to "View All", posts_path %>
</p>
